.logoSection {
    display: flex;
    align-items: center;
    gap: 10px;
}

.logoIcon {
    width: 5.0rem;
    height: 5.0rem;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.appName {
    font-size: 2.5rem;
    font-weight: 800;
    color: #0064e0;
    margin: 0;
}