.addFriendBtn {
    background-color: var(--add-friend-btn-color);
    color: var(--add-friend-btn-text-color);
    border: 1px solid var(--add-friend-btn-border-color);
    padding: 6px 14px;
    box-sizing: border-box;
    border-radius: 20px;
    font-size: 0.8rem;
    font-weight: 600;
    cursor: pointer;
    transition: background-color 0.2s;
}

.addFriendBtn:hover {
    background-color: var(--add-friend-btn-hover-color);
}

.addFriendBtn:active {
    background-color: var(--add-friend-btn-active-color);
    transform: scale(0.96);
}