.logoSection {
    display: flex;
    align-items: center;
    gap: 10px;
}

.logoIcon {
    background-color: #0064e0;
    color: white;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    font-size: 1.5rem;
}

.appName {
    font-size: 1.25rem;
    font-weight: 800;
    color: #0064e0;
    margin: 0;
}