.mainContent {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 40px 0;
    gap: 30px;
}

.mainContent h2 {
    margin: 0;
    color: var(--peoples-section-title-color);
}