.peoplesSection {
    flex: 1;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    padding: 16px;
    gap: 16px;
    position: sticky;
    top: 60px;
    height: calc(100vh - 60px);
    overflow-y: auto;
    border: 1px solid var(--peoples-section-border-color);
    background-color: white;
}

.listContainer {
    display: flex;
    flex-direction: column;
    flex: 1;
    gap: 4px;
    overflow-y: auto;
}

.title {
    margin: 0;
    color: var(--peoples-section-title-color);
}