.peopleSuggestionCard {
    display: flex;
    justify-content: space-between;
    padding: 12px;
    border-radius: 12px;
    transition: background-color 0.2s ease;
}

.peopleSuggestionCard:hover {
    background-color: var(--friend-card-hover-color);
    cursor: pointer;
}

.userInfo {
    display: flex;
    align-items: center;
}

.userInfo p {
    font-weight: 600;
    font-size: 0.9rem;
    margin: 0;
    padding-left: 12px;
    color: var(--comment-username-color);
}

.avatar {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
    background-color: #f0f0f0;
    border: 1px solid #efefef;
}