.peopleSuggestionCard {
    display: flex;
    justify-content: space-between;
    padding: 12px;
    border-radius: 12px;
    transition: background-color 0.2s ease;
}

.peopleSuggestionCard:hover {
    background-color: #f8f9fa;
    cursor: pointer;
}

.userInfo {
    display: flex;
    align-items: center;
}

.userInfo p {
    font-weight: 600;
    font-size: 0.9rem;
    margin: 0;
    padding-left: 12px;
    color: #262626;
}

.avatar {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
    background-color: #f0f0f0;
    border: 1px solid #efefef;
}

.addFriendBtn {
    background-color: #f0f2f5;
    color: #161616;
    border: 1px solid #c9c9c9;
    padding: 6px 14px;
    box-sizing: border-box;
    border-radius: 20px;
    font-size: 0.8rem;
    font-weight: 600;
    cursor: pointer;
    transition: background-color 0.2s;
}

.addFriendBtn:hover {
    background-color: #e4e6eb;
}

.addFriendBtn:active {
    background-color: #d8dade;
    transform: scale(0.96);
}