.peopleSuggestionCard {
    display: flex;
    justify-content: space-between;
    padding: 12px;
    border-radius: 12px;
    transition: background-color 0.2s ease;
}

.peopleSuggestionCard:hover {
    background-color: var(--friend-card-hover-color);
    cursor: pointer;
}

.userInfo {
    display: flex;
    align-items: center;
}

.userInfo p {
    font-weight: 600;
    font-size: 0.9rem;
    margin: 0;
    padding-left: 12px;
    color: var(--comment-username-color);
}

.avatar {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
    background-color: #f0f0f0;
    border: 1px solid #efefef;
}

.addFriendBtn {
    background-color: var(--add-friend-btn-color);
    color: var(--add-friend-btn-text-color);
    border: 1px solid var(--add-friend-btn-border-color);
    padding: 6px 14px;
    box-sizing: border-box;
    border-radius: 20px;
    font-size: 0.8rem;
    font-weight: 600;
    cursor: pointer;
    transition: background-color 0.2s;
}

.addFriendBtn:hover {
    background-color: var(--add-friend-btn-hover-color);
}

.addFriendBtn:active {
    background-color: var(--add-friend-btn-active-color);
    transform: scale(0.96);
}