.comment {
    padding: 12px 0;
    border-bottom: 1px solid #f0f0f0;
    display: flex;
}

.commentLeft .avatar {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    object-fit: cover;
}

.commentRight {
    padding-left: 12px;
    display: flex;
    flex-direction: column;
    gap: 0px;
}

.commentRight .username {
    font-weight: 600;
    margin: 0;
    font-size: 0.85rem;
    color: #262626;
}

.commentRight .content {
    margin: 0;
    color: #4a4a4a;
    font-size: 0.85rem;
}

.comment:last-child {
    border-bottom: none;
}