.post {
    border: 1px solid var(--post-border-color);
    border-radius: 8px;
    padding: 16px;
    margin-bottom: 20px;
    background-color: white;
}

.header {
    display: flex;
    align-items: center;
    gap: 12px;
    margin-bottom: 12px;
}

.avatar {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
    background-color: #f0f0f0;
}

.username {
    font-weight: bold;
    margin: 0;
    font-size: 0.96rem;
}

.content p {
    margin: 0;
    
    color: var(--post-content-text-color);
    font-size: 0.95rem;
}

.footer {
    margin-top: 15px;
    padding-top: 10px;
    border-top: 1px solid #eee;
    display: flex;
    align-items: center;
    gap: 10px;
}

.likeButton {
    background: none;
    border: 1px solid var(--post-like-btn-color);
    padding: 5px 12px;
    border-radius: 20px;
    margin: 0;
    cursor: pointer;
    transition: background 0.2s;
}

.likeButton.active {
    border-color: var(--post-like-btn-active-color);
    color: var(--post-like-btn-active-color);
}

.likeButton:hover {
    background-color: var(--post-like-btn-hover-color);
}

.likeCount {
    font-size: 0.85rem;
    color: var(--post-like-count-color);
}