.composer {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 12px;

    background-color: white;
    border: 1px solid var(--post-border-color);
    border-radius: 16px;
    padding: 16px;
    margin-bottom: 16px;
}

.avatar {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
    background-color: var(--avatar-bg-color);
    border: 1px solid var(--avatar-border-color);
}

.input {
    flex: 1;
    background-color: var(--post-composer-input-bg-color);
    border: none;
    border-radius: 20px;
    padding: 10px 16px;
    font-size: 1rem;
    cursor: pointer;
    outline: none;
    transition: background-color 0.2s;
}

.input:hover {
    background-color: var(--post-composer-input-bg-hover-color);
}