.friendsSection {
    flex: 1;
    position: sticky;
    top: 0;
    height: 100vh;
    border: 1px solid #dbdbdb;
    box-sizing: border-box;
    background-color: white;
    padding: 16px;
    gap: 16px;
    display: flex;
    flex-direction: column;
}

.listContainer {
    display: flex;
    flex-direction: column;
    flex: 1;
    gap: 4px;
    overflow-y: auto;
}

.title {
    margin: 0;
    color: #262626;
}