.app {
    display: flex;
    flex-direction: column;

    width: 100%;
    height: 100%;

    box-sizing: border-box;

    background-color: #f0f2f5;
}

.header {
    height: 60px;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
    box-sizing: border-box;
    border-bottom: 1px solid #dbdbdb;
    position: sticky;
    top: 0;
    z-index: 1000;
}

.logoSection {
    display: flex;
    align-items: center;
    gap: 10px;
}

.logoIcon {
    background-color: #0064e0;
    color: white;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    font-size: 1.5rem;
}

.appName {
    font-size: 1.25rem;
    font-weight: 800;
    color: #0064e0;
    margin: 0;
}

.profileSection {
    display: flex;
    align-items: center;
    gap: 8px;
    cursor: pointer;
    padding: 5px 10px;
    border-radius: 20px;
}

.profileSection:hover {
    background-color: #f2f2f2;
}

.profilePic {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    object-fit: cover;
}

.arrow {
    font-size: 0.7rem;
    color: #65676b;
}