:root {
    font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;

    margin: 0;

    width: 100%;
    height: 100%;
}

:root {
    /* --- Colors --- */
    --blue-btn-color: #007bff;
    --blue-btn-hover-color: #0056b3;
    --blue-btn-active-color: #004a99;
    --blue-btn-disabled-color: #ccc;

}

body {
    margin: 0;

    width: 100%;
    height: 100%;
}