:root, #root {
    font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;

    display: flex;
    flex-direction: column;

    margin: 0;

    width: 100%;
    flex: 1;

    background-color: #f0f2f5;
}

:root {
    /* Home Page UI Colors */
    --blue-btn-text-color: white;
    --blue-btn-color: #007bff;
    --blue-btn-hover-color: #0056b3;
    --blue-btn-active-color: #004a99;
    --blue-btn-disabled-color: #ccc;

    --add-friend-btn-text-color: #161616;
    --add-friend-btn-color: #f0f2f5;
    --add-friend-btn-hover-color: #e4e6eb;
    --add-friend-btn-active-color: #d8dade;
    --add-friend-btn-border-color: #c9c9c9;

    --avatar-bg-color: #f0f0f0;
    --avatar-border-color: #efefef;

    --friend-card-username-color: var(--comment-username-color);
    --friend-card-hover-color: #f8f9fa;

    --post-composer-input-bg-color: #f0f2f5;
    --post-composer-input-bg-hover-color: #e4e6eb;

    --post-border-color: #dbdbdb;

    --peoples-section-border-color: var(--post-border-color);
    --friends-section-border-color: var(--post-border-color);

    --peoples-section-title-color: #262626;
    --friends-section-title-color: var(--peoples-section-title-color);

    --post-content-text-color: #262626;

    --post-like-btn-color: #ddd;
    --post-like-btn-active-color: #ff5252;
    --post-like-btn-hover-color: #f0f0f0;
    --post-like-count-color: #666;

    --comments-section-bg-color: #fafafa;

    --comment-input-bg-color: #fff;
    --comment-input-border-color: #ddd;

    --comment-username-color: var(--post-content-text-color);
    --comment-content-text-color: #4a4a4a;

    /* Profile Page UI Colors */
    --left-section-card-border-color: var(--post-border-color);
    --left-section-card-heading-color: var(--peoples-section-title-color);

    --intro-item-heading-color: var(--comment-username-color);
    --intro-item-text-color: var(--post-content-text-color);

    --friends-count-color: var(--intro-item-text-color);
}

body {
    display: flex;
    flex-direction: column;
    margin: 0;

    width: 100%;
}